* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/background.jpg) no-repeat fixed;
  width: 100%;
  background-size: cover;
  font-family: "Maven Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 450px;
  background: rgb(179, 178, 176, 0.6);
  padding: 20px;
}

h1 {
  color: #fff;
}

label {
  display: none;
}

input {
  width: 90%;
  height: 20px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background: #fff;
}

button {
  padding: 10px;
  width: 94%;
  border-radius: 5px;
  margin: 10px;
  background: #fff;
  border: none;
}

.contact-card {
  margin: 0 0 0 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info {
  height: 100px;
  width: 250px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  position: relative;
}

.delete_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid black;
  left: 85%;
  top: 70%;
}
